html,
body {
    height: 100%;
    overflow: fragments;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
    overflow-scrolling: auto;
}

.title {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fields {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    z-index: 2;
}

.fields input {
    height: 40px;
    width: 300px;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.btn {
    width: 300px;
    position: relative;
    box-sizing: border-box;
}

.error {
    font-size: 16px;
    color: #FF0000;
    margin: 0 auto 5px;
}