<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Happy Pet Animal Adoption Service</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>

</head>
<body>


<!-- start main -->
<main style="padding-top: 110px; padding-bottom: 60px;">
    <div class="container">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Breed</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Arrival date</th>
            </tr>
            </thead>

        </table>

    </div>
</main>
<!-- start main -->

<!-- Footer -->
<footer class="page-footer font-small  fixed-bottom" style="background-color: #e3f2fd;">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a class="developers"> Krukovska Yana and Synelnyk Mariia</a>
    </div>
</footer>
<!-- Footer -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>