<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Products</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<!--/*@thymesVar id="notifications" type=""*/-->
<div th:replace="fragments/navbar.html :: navigation(notifications=${notifications})"></div>


<!-- start main -->
<main style="padding-top: 50px; padding-bottom: 60px;">

    <div class="container">
        <p class="text-center font-weight-bold" style="font-size: 30px">PRODUCTS</p>

        <div class="align-items-center d-flex flex-column">
            <form th:action="@{/products-by-group}" method="get">
                <select id="groupId" name="groupId" th:value="*{groupId}" onchange="this.form.submit()"  style="font-size: 20px">
                    <option selected th:value=0 th:text="All">
                    </option>
                    <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}" th:selected="${group.id==groupId}">
                    </option>
                </select>
            </form>
        </div>
        <br>
        <form th:action="@{/add-product}" method="get">
            <button type="submit" class="btn btn-lg btn-success btn-block">Add</button>
        </form>
        <br>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Group</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>

            <!--/*@thymesVar id="product" type="ua.edu.ukma.distedu.storage.persistence.model.Product"*/-->
            <tr th:each="product : ${products}">
                <td class="align-middle"><span class="align-middle" th:text="${product.id}"></span></td>
                <td class="align-middle"><span class="align-middle" th:text="${product.name}"></span></td>
                <td class="align-middle"><span class="align-middle" th:text="${product.getGroup().name}"></span></td>
                <td class="align-middle"><span class="align-middle" th:text="${product.producer}"></span></td>
                <td class="align-middle"><span class="align-middle" th:text="${product.price}"></span></td>
                <td class="align-middle"><span class="align-middle" th:text="${product.amount}"></span></td>
                <form th:action="@{/edit-product}" method="get" target="_blank">
                    <td><input type="hidden" th:value="${product.id}" name="productID" >
                        <button type="submit" class="btn btn-primary btn-block">Edit</button>
                    </td>
                </form>
                <form th:action="@{/request-delete-product}" method="post">
                    <td><input type="hidden" th:value="${product.id}" name="productID" >
                        <button type="submit" class="btn btn-danger btn-block">Delete</button>
                    </td>
                </form>
            </tbody>
        </table>

    </div>
</main>
<!-- start main -->

<!-- Footer -->
<footer class="page-footer font-small  fixed-bottom" style="background-color: #e3f2fd;">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a class="developers"> Krukovska Yana, Levchuk Volodymyr, Shcherbyna Serhii</a>
    </div>
</footer>
<!-- Footer -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>